:root{
    /*Cores principais das bolinhas (card redondos)*/
    --cor-redonda1: #FFAEC1;
    --cor-redonda2: #FBAB2A;
    --cor-redonda3: #C50D19;
/*------COR DOS PREÇOS E BOTÕES E LETRAS --------*/
    --cor-preco: #F83D8E;
    --cor-botao: #ED95AE;
    --cor-letra: #0F0200;
}
/*Importanto a fonte princiapal*/
    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    /*FONTE INTER*/

    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  

    /*Fonte da barra de pesquisa*/
    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

  /* Fonte da descrição que fica abaixo das bolinhas  */
    @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0; /* Reseta as configurações de margin pré-existentes na página*/
  padding: 0; /*Reseta as configurações de padding pré-existentes na página*/
}

body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: var(--size-text1);
}

.headerContainer {
  display: flex; /*Define que o container é flexível*/
  flex-direction: row; /*Define que a direção do container é na horizonta (row) não na vertical (column)*/
  height: 98px;
  width: auto;
  background: linear-gradient(
    to bottom,
    #cf7eae 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 90%
  ); /*Define que o background do container será gradiente*/
}

.headerLogo {
  /*Define o tamanho exato da logo*/
  width: clamp(80px, 12vw, 159px);
  height: clamp(80px, 12vw, 159px);
  transition: 0.5s;
}

.headerLogo:hover {
  transform: translateY(-5px);
}

.logoContainer {
  /*Define que o container é flex, e é automaticamente ajustado para o meio do container-pai*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.headerTextContainer {
  display: flex; /*Define que o display é flex, o alinhamento na horizontal é no fim do container e que o alinhamento na vertical é no centro*/
  align-items: center;
  justify-content: flex-end;
  margin-left: auto; /*Define que o tamanho da margem para o container do logo é automatico, se ajustando conforme necessário*/
  padding-bottom: 3.5rem; /*Define que o tamanho da margem para baixo do item até a borda do container é 56px (3.5rem)*/
  padding-right: 4rem; /*Define que o tamanho da margem para direita do item até a borda do container é 64px (4rem)*/
}

.listHeader {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  list-style: none; /*Define que a lista não terá marcações, nem bolinhas nem quadrados*/
  gap: 11.22px; /*Define que a distância entre os items do container é 11.22px*/
}

.textLink {
  display: inline-block; /*Define que os textos são inline-block, ou seja, os elementos estão um do lado do outro porém se aceita definições de largura ou altura, necessário para o efeito de hover*/
  text-decoration: none; /*Define que os links não terão a linha embaixo deles*/
  color: #fff;
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 600; /*Define que a fonte será semi-bold*/
  transition: 0.3s ease-out; /*Define que a transição entre os efeitos (no caso :hover) será de 0.3s desacelerando no final do movimento para maior sensação de suavidade*/
}

.material-symbols-outlined.profile {
  font-size: 19px;
  color: var(--text1-color);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.textLink:hover,
.perfilHeader:hover,
.material-symbols-outlined.profile:hover {
  color: #859678;
  text-shadow: 0px 5px 6px #859678; /*Define que o texto terá nenhuma sombra no eixo x e terá 5px no eixo y com um blur (tipo esfumaceamento) de 6px e a cor a mesma do texto*/
  transform: translateY(
    -4px
  ); /*Define que o texto se moverá para cima (números negativos empurram para cima, positivos para baixo) em -4px*/
}

.buttonSwitch {
  width: 30px;
  height: 15px;
  margin-top: 1.5rem;
  margin-right: 1%; /*Define que a margem da direita tem o tamanho de 1% do elemento pai */
  border: #ffffff solid 2px; /*Define tamanho da borda, cor e tipo*/
  border-radius: 30px;
  position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor*/
  cursor: pointer; /*Faz com que aparece o ponteiro de clicar quando o mouse está em cima do elemento*/
}

.buttonSwitch .buttonIndicator {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 150px;
  transform: scale(
    0.8
  ); /*Faz com que o elemento se transforme baseado em uma escala (ele se ajustava a 0.8 do elemento original)*/
  position: absolute; /*O elemento está em posição absoluta, ou seja, se sobressaí sobre outros elementos, saindo do fluxo original*/
  left: 0;
  transition: 0.4s;
}

.buttonSwitch.dark .buttonIndicator {
  /*Parte do comando js para quando se é clicado, a ação de mudar a bolinha do switcher e a cor dela*/
  left: 15px;
  background-color: #859678;
}

.buttonSwitch.dark {
  /*Parte do comando js para quando se é clicado, alterar a cor da borda do elemento*/
  border-color: #859678;
}

/*ESTILIZAÇÃO DO BANNER PRINCIPAL*/


/*Edição do texto central*/
.imagem-inicial {
    position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor, necessário para a posição absoluta do h1*/
    width: 100%;
    height: auto;
}

.imagem-inicial img {
    width: 100%;
    height: auto;
    object-fit: cover; /*Garante que a imagem preencha o espaço disponível sem distorcer, cortando as partes que ultrapassarem o container*/
}
.imagem-inicial h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 55px;
    color: var(--cor-letra);
    position: absolute; /*Faz com que o elemento se sobressaia sobre outros elementos, saindo do fluxo original*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Faz com que o elemento se mova para o centro exato da tela, baseado em sua própria largura e altura*/
    text-align: center; /*Centraliza o texto dentro do elemento h1*/
    width: 100%; /*Garante que o h1 ocupe toda a largura disponível, necessário para o text-align funcionar corretamente*/
}


/*ESTILIZAÇÃO DO SANDUICHE*/
/*Tirando efeitos padrões do botão*/

.sanduiche-container{
  border: none; /*tira as bordas de dentro*/
  background: none; /*tirando acor padrão de dentro*/
  outline: none; /*tira a borda quando clicamos na barra*/

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /*da um efeito bonito*/
  gap: 10px /*espaçamento entre o menu e a palavra categorias*/
}

/*estilização do snaduiche*/
.sanduiche-btn {
  display: flex;
  flex-direction: column; /*deixa eles em colunas*/
  gap: 5px; /*espaçamento entre as linhas*/
}

.sanduiche-btn span {
  display: block; /*O display block faz o span ocupar uma linha inteira, como se fosse um bloco*/
  margin-left: 20px;
  width: 23px; /*comprimento da linha */
  height: 3px; /*grossura das linhas*/
  background: #d898b6;
; /*coloquei essa cor pq eu achei bonita*/
  border-radius: 2px; /*arredondamento das linhas*/
  cursor: pointer;
}

.texto-sanduiche{
  font-family: "Berkshire Swash";
  font-size: 24px;
  font-weight: 300;
  color: var(--cor-letra);
}

/*ESTILIZAÇÃO DO CARD DROPDOWN*/
/*estilizando o fundo do dropdown*/
.dropdown {
  position: absolute; /* sai do fluxo — não empurra mais o conteúdo */
  z-index: 50;        /* fica na frente de tudo */
  flex-direction: column;
  width: 180px; /*largura*/
  margin-top: 8px; /*distancia de cima*/
  margin-left: 15px; /*distancia da esquerda*/
  border-radius: 9px; /*arredontdamento da borda*/
  overflow: hidden; /*faz o border-radius funcionar nos filhos*/
  background: #ffffff; /*fundo do ***caixa***/

  opacity: 0;              /* invisível */
  visibility: hidden;      /* não ocupa espaço no clique */
  transition: 0.3s;
}

.dropdown.aberto {
  display: block; /*quando eu colocar a classe 'active' no dropdown no js, ele aparece */
  opacity: 1;              /* visível */
  visibility: visible;
}

/*tirando as configurações padrões do ul*/
.lista-categorias{
  list-style: none;
  padding: 0;
  margin: 0;
}

/*efeito cinza*/
.item:hover{
  background: #efeff0;
}

/*estilização do espaçamento, e da letra e cores*/
.item label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px; /* espaço entre os tópicos */
  cursor: pointer;
  width: 100%;
  font-family: "Inter", sans-serif; /*fonts do topico*/
  font-size: 14px;
  color: #787878;
}

/*estilização*/

/*ESTILIZAÇÃO DA BARRA DE PESQUISA*/
.caixa-pesquisa{
  position: absolute; /*permite colocar o elemento a onde vc quiser*/
  left: 200px;    /* distância da direita */ /*REVISAR ISSO POIS PODE SER COMANDO REMENDO*/
  background: linear-gradient(to bottom,
    #e69cc6 6%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 70%);
  height: 25px;
  padding: 10px;
  border-radius: 40px;
  display: flex; /*alinhamento do conteudo*/
  justify-content: space-between; /*joga o primeiro item totalmente pra esqueda e o outro totalmente para a direita*/
  align-items: center;/*centralização dos elementos*/

}
/*Tirando efeitos padrões da barra de pesquisa, como: Borda, backgroud brando etc*/

.barra-pesquisa{
  border: none; /*tira as bordas de dentro*/
  background: none; /*tirando acor padrão de dentro*/
  outline: none; /*tira a borda quando clicamos na barra*/
  padding: 0;
  color: aliceblue; /*cor do texto digitado*/
  font-size: 16px;/*tamanho da letra*/
  line-height: 40px; /*tamanho da linha*/
  width: 0; /*pra fazer a barra de pesquisa aparecer apenas quando o mouse passar, temos que tirar o width*/
  font-family: 'Open Sans';
  transition: .5s;
}

/*Mudando a cor do placeholder*/
::-webkit-input-placeholder { /*muda todos os placesholder da sua aplicação*/
  color: aliceblue;
}

/*Estilização da lupa*/
.lupa-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%; /*por ser 50% as bordas vão ficar literalmente redondas*/
  background: linear-gradient(to bottom,
    #e69cc6 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 70%);
  display: flex;
  justify-content: center; /*alinhamento horizontal*/
  align-items: center; /*alinhamento vertical*/
  transition: .5s;
}

/*Fazer a bolinha abrir quando o mouse passar (TRANSIÇÃO)*/
.caixa-pesquisa:hover > .barra-pesquisa{ /*quando o mouse passar pela caixa de pesuisa, o sinal d emaior significa que eu quero que apareça ou se transforme na barra de pesquisa*/
  width: 240px;/*para aparecer*/
  padding: 0 6px;  /*quando tem dois valores, o 1º é o vertical e o segundo o horizontal*/
}

/*cor no botão (lupa) quando passado o mouse*/
.caixa-pesquisa:hover > .lupa-btn{
  background: aliceblue;
}

/*________________________________________________________*/
/*ESTILIZAÇÃO DAS SESSÕES DOS PRODUTOS MILK SHAKE*/
.produtos-Milk-Shakes {
  padding: 80px 30px;
  background: #fff;
}

.sessao h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* coloca o hover só na imagem */
.img-circular img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  object-fit: contain;
  transition: 0.3s;
}

/*Estilizaçãlo particular do milk shake de pistache*/
.img-circular .pistche-milk {
  margin-bottom: 15px;
  width: 220px;
  height: 220px;
}

.img-circular img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}

/*ESTILIZAÇÃO DA SESSÃO DE PICOLÉ*/
.produtos-picole {
  padding: 40px 30px;
}

.sessao-picole h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos-picole {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-picole {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-picole {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* coloca o hover só na imagem */
.img-circular-picole img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

/*Estilizaçãlo particular do milk shake de pistache*/

.img-circular-picole a {
  width: 100%;
  height: 100%;
  display: block;
}

/* Estilização do picolé */
.PicoleChocolate {
  display: flex;
  margin-left: 8px;
}


.img-circular-picole img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-picole h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-picole p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-picole h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}

/* ESTILIZAÇÃO DA SESSÃO AÇÁI */
.produtos-açai {
  padding: 80px 30px;
  background: #fff;
}

.sessao-açai h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos-açai {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-açai {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-açai {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda3);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* coloca o hover só na imagem */
.img-circular-açai img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

/*Estilizaçãlo particular do açai de chocoboll e o açai puro*/
.açai-chocoboll{
  display: flex;
  margin-left: 29px;
}

.açai-puro{
  display: flex;
  margin-left: 15px;
}

.img-circular-açai a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-açai img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-açai h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-açai p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-açai h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}


/* ESTILIZAÇÃO DA SESAO POTES */
.produtos-potes {
  padding: 80px 30px;
  background: #fff;
}

.sessao-potes h1 {
  font-family: "Berkshire Swash";
  font-size: 30px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos-potes {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-potes {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-potes {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* coloca o hover só na imagem */
.img-circular-potes img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-potes a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-potes img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-potes h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-potes p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-potes h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}

/* ESTILIZAÇÃO DA SESSÃO CASQUINHAS */
.produtos-casquinhas {
  padding: 40px 30px;
}

.sessao-casquinhas h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos-casquinhas {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-casquinhas {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-casquinhas {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* coloca o hover só na imagem */
.img-circular-casquinhas img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-casquinhas a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-casquinhas img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-casquinhas h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-casquinhas p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-casquinhas h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}


/* ESTILIZAÇÃO DA SESSÃO SUNDAE */
.produtos-sundae {
  padding: 80px 30px;
  background: #fff;
}

.sessao-sundae h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
}


/*deixei tudo em forma de coluna*/
.grid-produtos-sundae {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-sundae {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-sundae {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda3);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* coloca o hover só na imagem */
.img-circular-sundae img {
  width: 140px; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.sundae-oreo {
display: flex;
margin-left:  35px;

}

.img-circular-sundae a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-sundae img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-sundae h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-sundae p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-sundae h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}

/*ESTILIZAÇÃO DA SESSÃO KIDS FINALMENTE*/
.produtos-kids {
  padding: 80px 30px;
  background: #fff;
}

.produtos-kids-picole{
  padding: 100px 30px;
  background: linear-gradient(to bottom,
    #ffffff 6%,
    #ffffff 14%,
    #ffffff 34%,
    #ffffff 90%,
    #ffb0c4 100%);
}



.sessao-kids h1 {
  font-family: "Berkshire Swash";
  font-size: 35px;
  font-weight: 500;

  margin-left: 60px; /*Distancia da parte esquerda*/
  margin-top: 20px; /*distancia do topo*/
  margin-bottom: 60px;
}


/*deixei tudo em forma de coluna*/
.grid-produtos-kids {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*5 itens em uma linha só*/
  margin-top: 30px; /*distancia entre o titulo e os produtos*/
  gap: 9px; /*distancia entre os topicos*/
}

/* o card que empilha imagem, texto e botão */
.card-produto-kids {
  display: flex;
  flex-direction: column; /*ecenssial para o empilhamento */
  align-items: center;
  text-align: center;
  gap: 12px; /*distancia entre os tópicos*/
}

/* fazendo as bolinhas coloridas */
.img-circular-kids1 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circular-kids2 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circular-kids3 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circular-kids4 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circular-kids5 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--cor-redonda2);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* coloca o hover só na imagem */
.img-circular-kids1 img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-kids2 img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-kids3 img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-kids4 img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-kids5 img {
  width: 80%; /*pra ela não ocupar 100% da bolinha */
  height: 80%;
  margin-top: 30px;
  object-fit: contain;
  transition: 0.3s;
}

.img-circular-kids1 a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-kids2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-kids3 a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-kids4 a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-kids5 a {
  width: 100%;
  height: 100%;
  display: block;
}

.img-circular-kids1 img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

.img-circular-kids2 img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

.img-circular-kids3 img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

.img-circular-kids4 img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

.img-circular-kids5 img:hover {
  transform: scale(1.2); /* só a imagem cresce */
}

/*estilização das infos em baio da imagem*/
.conteudo-texto-kids h2{
  font-size: 12px;
  margin-bottom: 15px;
}

.conteudo-texto-kids p{
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.conteudo-texto-kids h3{
  font-family: "Archivo", sans-serif; /*fonte*/
  font-weight: 800;
  color: var(--cor-preco);
  margin-bottom: 10px;
}

/*estilização do botao*/
.botao-btn {
  display: flex; /*coloca os itens lado a lado*/
  align-items: center;
  gap: 8px; /*espaçamento entre o botão e o incone de carrinho*/
}

.btn-comprar {
  background-color: var(--cor-botao);
  color: #fff;
  text-decoration: none; /*tiranco o sublinhado*/
  font-size: 16px;
  padding: 14px 20px; /*espaço de dentro do botão, cima e baixo, e laterias*/
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn-comprar:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #9e4e65;
}

.btn-icone {
  width: 45px; /*largura da bolinha*/
  height: 45px;
  border-radius: 50%; /*pra deixar redondo*/
  background-color: var(--cor-botao);
  display: flex;  /* centraliza o ícone */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn-icone:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 10px #9e4e65;
}

/*ajustando de fato a imagem do carrinho*/
.btn-icone img {
  width: 25px;
  height: 25px;
}


/*ESTILIZAÇÃO DO FOOTER */
/*ESTILIZAÇÃO DO FOOTER*/
.main-footer {
  background: linear-gradient(
    to bottom,
    #ffb0c4 0%,
    #faacc1 14%,
    #f8b0c8 34%,
    #e8a3b8 70%
  );
  padding: 80px 10% 30px;
  margin-top: 0;
  color: #ffffff;
  font-size: 0.85rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 250px 1fr 1fr; /* tem que bater com o tamanho da logo */
  gap: 50px;
  align-items: start; /* alinha tudo verticalmente no centro */
}

.footer-logo {
  align-self: center;
}

.footer-logo img {
  width: 250px;
  border-radius: 20px;
  padding: 5px;
}

.footer-links h4,
.footer-contact h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  padding-top: 40px; /*Esse aqui que alinhou tudo*/
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin-bottom: 12px;
  font-size: 0.85rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #525946;
  padding-left: 5px;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.linksFooter {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.footer-contact p {
  margin: 6px 0;
}

/*Configurações dos icone de contatos*/
li .material-symbols-outlined {
  font-size: 20px; /* controla o tamanho do ícone, pois o  width não funciona em icones*/
  margin-right: 5px; /*espaço entre o texto e o icone*/
  vertical-align: middle; /* alinha o ícone com o texto da frente */
}

.social-icons img {
  width: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid rgba(109, 0, 0, 0.4);
  font-size: 0.85rem;
  color: #ffffff;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: underline;
}
