@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("   https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  /*Define cores, fontes e tamanhos de textos que serão utilizados posteriormente*/
  --casquinha-color: #fdae0c;
  --milkshake-color: #ffaec1;
  --acai-color: #c50d19;
  --text1-color: #ffffff;
  --text2-color: #0f0200;
  --text3-color: #787878;
  --text4-color: #d788a6;
  --text5-color: #f83d8e;
  --text6-color: #3568e9;
  --size-text1: 13.7px;
  --size-text3: 16px;
  --size-text4: 64px;
  --size-text6: 14px;
  --font1: "Inter", sans-serif;
  --font2: "Archivo", sans-serif;
  --font3: "Berkshire Swash", sans-serif;
}

* {
  margin: 0; /* Reseta as configurações de margin pré-existentes na página*/
  padding: 0; /*Reseta as configurações de padding pré-existentes na página*/
}

body {
  background-color: #ffffff;
  font-family: var(--font2);
  font-size: var(--size-text1);
}

.headerContainer {
  display: flex; /*Define que o container é flexível*/
  flex-direction: row; /*Define que a direção do container é na horizonta (row) não na vertical (column)*/
  height: 98px;
  width: auto;
  background: linear-gradient(
    to bottom,
    #cf7eae 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 90%,
    #ffffff
  ); /*Define que o background do container será gradiente*/
}

.headerLogo {
  /*Define o tamanho exato da logo*/
  width: clamp(80px, 12vw, 159px);
  height: clamp(80px, 12vw, 159px);
  transition: 0.5s;
}

.headerLogo:hover {
  transform: translateY(-5px);
}

.logoContainer {
  /*Define que o container é flex, e é automaticamente ajustado para o meio do container-pai*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.headerTextContainer {
  display: flex; /*Define que o display é flex, o alinhamento na horizontal é no fim do container e que o alinhamento na vertical é no centro*/
  align-items: center;
  justify-content: flex-end;
  margin-left: auto; /*Define que o tamanho da margem para o container do logo é automatico, se ajustando conforme necessário*/
  padding-bottom: 3.5rem; /*Define que o tamanho da margem para baixo do item até a borda do container é 56px (3.5rem)*/
  padding-right: 4rem; /*Define que o tamanho da margem para direita do item até a borda do container é 64px (4rem)*/
}

.listHeader {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  list-style: none; /*Define que a lista não terá marcações, nem bolinhas nem quadrados*/
  gap: 11.22px; /*Define que a distância entre os items do container é 11.22px*/
}

.textLink {
  display: inline-block; /*Define que os textos são inline-block, ou seja, os elementos estão um do lado do outro porém se aceita definições de largura ou altura, necessário para o efeito de hover*/
  text-decoration: none; /*Define que os links não terão a linha embaixo deles*/
  color: var(--text1-color);
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 600; /*Define que a fonte será semi-bold*/
  transition: 0.3s ease-out; /*Define que a transição entre os efeitos (no caso :hover) será de 0.3s desacelerando no final do movimento para maior sensação de suavidade*/
}

.material-symbols-outlined.profile {
  font-size: 19px;
  color: var(--text1-color);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.textLink:hover,
.perfilHeader:hover,
.material-symbols-outlined.profile:hover {
  color: #859678;
  text-shadow: 0px 5px 6px #859678; /*Define que o texto terá nenhuma sombra no eixo x e terá 5px no eixo y com um blur (tipo esfumaceamento) de 6px e a cor a mesma do texto*/
  transform: translateY(
    -4px
  ); /*Define que o texto se moverá para cima (números negativos empurram para cima, positivos para baixo) em -4px*/
}

.buttonSwitch {
  width: 30px;
  height: 15px;
  margin-top: 1.5rem;
  margin-right: 1%; /*Define que a margem da direita tem o tamanho de 1% do elemento pai */
  border: #ffffff solid 2px; /*Define tamanho da borda, cor e tipo*/
  border-radius: 30px;
  position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor*/
  cursor: pointer; /*Faz com que aparece o ponteiro de clicar quando o mouse está em cima do elemento*/
}

.buttonSwitch .buttonIndicator {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 150px;
  transform: scale(
    0.8
  ); /*Faz com que o elemento se transforme baseado em uma escala (ele se ajustava a 0.8 do elemento original)*/
  position: absolute; /*O elemento está em posição absoluta, ou seja, se sobressaí sobre outros elementos, saindo do fluxo original*/
  left: 0;
  transition: 0.4s;
}

.buttonSwitch.dark .buttonIndicator {
  /*Parte do comando js para quando se é clicado, a ação de mudar a bolinha do switcher e a cor dela*/
  left: 15px;
  background-color: #859678;
}

.buttonSwitch.dark {
  /*Parte do comando js para quando se é clicado, alterar a cor da borda do elemento*/
  border-color: #859678;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */
/*Edição do texto central*/

.imagem-inicial {
    position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor, necessário para a posição absoluta do h1*/
    width: 100%;
    height: auto;
}

.imagem-inicial img {
    width: 100%;
    height: auto;
    object-fit: cover; /*Garante que a imagem preencha o espaço disponível sem distorcer, cortando as partes que ultrapassarem o container*/
}
.imagem-inicial h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 80px;
    color: var(--cor-letra);
    position: absolute; /*Faz com que o elemento se sobressaia sobre outros elementos, saindo do fluxo original*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Faz com que o elemento se mova para o centro exato da tela, baseado em sua própria largura e altura*/
    text-align: center; /*Centraliza o texto dentro do elemento h1*/
    width: 100%; /*Garante que o h1 ocupe toda a largura disponível, necessário para o text-align funcionar corretamente*/
}


/* -----------------------------------------------------------
   7. ESTRUTURA PRINCIPAL (Checkout)
  ----------------------------------------------------------- */
.checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* empurra o resumo para direita */
  align-items: flex-start;
  gap: 60px;
  padding: 40px;
  flex-wrap: nowrap;
}
/* -----------------------------------------------------------
   8. FORMULÁRIO (Inputs)
   ----------------------------------------------------------- */
.container {
  flex: 0 0 55%;      /* ocupa 55% da largura */
  max-width: 600px;
  margin-top: 30px;
}

h2{
  font-size: var(--size-text3); /* Usa o tamanho de texto definido lá no topo */
  color: var(--text2-color); /* Usa a cor definida lá no topo */
  margin-bottom: 10px; /* Espaço abaixo do título */
  font-weight: 500; /* Deixa o título em negrito */
}

form {
  display: flex;            /* Empilha os campos um embaixo do outro */
  flex-direction: column;   /* Direção de coluna (vertical) */
  gap: 15px;                /* Espaço entre cada campo de digitação */
}

.linha {
  display: flex;            /* Usado quando dois inputs ficam na mesma linha (ex: Cidade e Estado) */
  gap: 10px;                /* Espaço entre esses dois inputs */
}

.linha input {
  width: 100%;              /* Faz os inputs dividirem o espaço da linha igualmente */
  
}

.opcao-pagamento {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ddd;   /* Borda fina que está em cinza claro*/
  cursor: pointer;
  margin-bottom: 0px;
}

.opcao-pagamento span {
  flex: 1;
}

.img-cartao {
  width: 20px;
  height: auto;
}

.img-Symbol {
  width: 20px;
  height: auto;
}

input {
  padding: 12px;            /* Espaço interno para o texto não grudar na borda do campo */
  border-radius: 20px;      /* Deixa as bordas dos campos arredondadas */
  border: 1px solid #ddd;   /* Borda fina que está em cinza claro*/
}

/* ---------------------------------------------------
   BOTÃO FAÇA SEU PEDIDO 
--------------------------------------------------- */
button{
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background-color: #eb638c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  /* efeito de luz embaixo */
  box-shadow: 
    0 8px 20px rgba(235, 13, 80, 0.863);
}

/* HOVER */
button:hover{
  background-color: #e61c5c;

  transform: translateY(-5px);

  /* luz mais forte */
  box-shadow: 
    0 12px 25px rgba(233, 75, 122, 0.945);
}

/* CLIQUE */
button:active{
  transform: translateY(-2px);

  box-shadow: 
    0 6px 15px rgba(209, 17, 74, 0.966);
}
/* ---------------------------------------------------
   CARD
--------------------------------------------------- */
.card {
  flex: 0 0 30%;
  align-self: flex-start;
  margin-top: 80px;
  margin-bottom: 30px;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 40px;
}

.card h1{
  text-align: center; 
}

/* ---------------------------------------------------
   RESPONSIVIDADE
--------------------------------------------------- */

/* TABL */
@media(max-width:768px){

  .container{
    padding: 20px;
  }

  h2{
    font-size: 1.3rem;
  }
}

/* CELULAR */
@media(max-width:480px){

  body{
    padding: 12px;
  }

  .container{
    padding: 18px;
  }

  .linha{
    flex-direction: column;
  }

  input{
    padding: 13px;
    font-size: 14px;
  }

  button{
    padding: 15px;
    font-size: 15px;
  }

  h2{
    font-size: 1.2rem;
  }

  .opcao-pagamento{
    padding: 12px;
  }
}

/* BOTÕES DO APLICAR  */
button{
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background: #eb638c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow:
    0 8px 20px rgba(235, 13, 80, 0.4);
}

/* HOVER */
button:hover{
  transform: translateY(-5px);
  background: #e61c5c;
}

/* CUPOM */
.cupom-area{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.input-cupom{
  flex: 1;
}

.btn-cupom{
  width: auto;
  padding: 12px 20px;
}

/* ITENS */
.resumo-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.detalhes-pedido{
  margin-top: 24px;
  margin-bottom: 8px;
}


.resumo-total{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: bold;
}

/* LINHA */
hr{
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}



.text{
  color: #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


/* RESPONSIVO */
@media(max-width:900px){

  .checkout{
    flex-direction: column;
  }

  .container,
  .card{
    width: 100%;
  }

  .linha{
    flex-direction: column;
  }
}


/* FOOTER */
/*ESTILIZAÇÃO DO FOOTER*/
.main-footer {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 70%
  );
  padding: 80px 10% 30px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 0.85rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 250px 1fr 1fr; /* tem que bater com o tamanho da logo */
  gap: 50px;
  align-items: start; /* alinha tudo verticalmente no centro */
}

.footer-logo {
  align-self: center;
}

.footer-logo img {
  width: 250px;
  border-radius: 20px;
  padding: 5px;
}

.footer-links h4,
.footer-contact h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  padding-top: 40px; /*Esse aqui que alinhou tudo*/
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin-bottom: 12px;
  font-size: 0.85rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #525946;
  padding-left: 5px;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.linksFooter {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.footer-contact p {
  margin: 6px 0;
}

/*Configurações dos icone de contatos*/
li .material-symbols-outlined {
  font-size: 20px; /* controla o tamanho do ícone, pois o  width não funciona em icones*/
  margin-right: 5px; /*espaço entre o texto e o icone*/
  vertical-align: middle; /* alinha o ícone com o texto da frente */
}

.social-icons img {
  width: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid rgba(109, 0, 0, 0.4);
  font-size: 0.85rem;
  color: #ffffff;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: underline;
}