@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("   https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  --casquinha-color: #fdae0c;
  --milkshake-color: #ffaec1;
  --acai-color: #c50d19;
  --text1-color: #ffffff;
  --text2-color: #0f0200;
  --text3-color: #787878;
  --text4-color: #d788a6;
  --text5-color: #f83d8e;
  --text6-color: #3568e9;
  --size-text1: 13.7px;
  --size-text3: 16px;
  --size-text4: 64px;
  --size-text6: 14px;
  --font1: "Inter", sans-serif;
  --font2: "Archivo", sans-serif;
  --font3: "Berkshire Swash", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: var(--font2);
  font-size: var(--size-text1);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 98px;
  width: auto;
  background: linear-gradient(
    to bottom,
    #cf7eae 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 70%
  );
}

.headerLogo {
  width: 159px;
  height: 159px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-bottom: 3.5rem;
  padding-right: 4rem;
}

.listHeader {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  list-style: none;
  gap: 11.22px;
}

.textLink {
  display: inline-block;
  text-decoration: none;
  color: var(--text1-color);
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-out;
}

.perfilHeader {
  width: 14.67px;
  height: 12px;
  transition: 0.3s ease-out;
  padding-top: 0.25rem;
}

.textLink:hover,
.perfilHeader:hover {
  color: #859678;
  text-shadow: 0px 5px 6px #859678;
  transform: translateY(-4px);
}

.buttonSwitch {
  width: 30px;
  height: 15px;
  margin-top: 1.5rem;
  margin-right: 1%;
  border: #ffffff solid 2px;
  border-radius: 30px;
  position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor*/
  cursor: pointer;
}

.buttonSwitch .buttonIndicator {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 150px;
  transform: scale(
    0.8
  ); /*Faz com que o elemento se transforme baseado em uma escala (ele se ajustava a 0.8 do elemento original)*/
  position: absolute;
  left: 0;
  transition: 0.4s;
}

.buttonSwitch.dark .buttonIndicator {
  left: 15px;
  background-color: #859678;
}

.buttonSwitch.dark {
  border-color: #859678;
}
