:root{
    /*Cores principais das bolinhas (card redondos)*/
    --cor-redonda1: #FFAEC1;
    --cor-redonda2: #FBAB2A;
    --cor-redonda3: #C50D19;
/*------COR DOS PREÇOS E BOTÕES E LETRAS --------*/
    --cor-preco: #F83D8E;
    --cor-botao: #ED95AE;
    --cor-letra: #0F0200;
}
/*Importanto a fonte princiapal*/
    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0; /* Reseta as configurações de margin pré-existentes na página*/
  padding: 0; /*Reseta as configurações de padding pré-existentes na página*/
}

body {
  background-color: #ffffff;
  font-family: var(--font2);
  font-size: var(--size-text1);
}

.headerContainer {
  display: flex; /*Define que o container é flexível*/
  flex-direction: row; /*Define que a direção do container é na horizonta (row) não na vertical (column)*/
  height: 98px;
  width: auto;
  background: linear-gradient(
    to bottom,
    #cf7eae 0%,
    #e69cc6 14%,
    #dba7bf 34%,
    #e8a3b8 70%
  ); /*Define que o background do container será gradiente*/
}

.headerLogo {
  /*Define o tamanho exato da logo*/
  width: clamp(80px, 12vw, 159px);
  height: clamp(80px, 12vw, 159px);
  transition: 0.5s;
}

.headerLogo:hover {
  transform: translateY(-5px);
}

.logoContainer {
  /*Define que o container é flex, e é automaticamente ajustado para o meio do container-pai*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.headerTextContainer {
  display: flex; /*Define que o display é flex, o alinhamento na horizontal é no fim do container e que o alinhamento na vertical é no centro*/
  align-items: center;
  justify-content: flex-end;
  margin-left: auto; /*Define que o tamanho da margem para o container do logo é automatico, se ajustando conforme necessário*/
  padding-bottom: 3.5rem; /*Define que o tamanho da margem para baixo do item até a borda do container é 56px (3.5rem)*/
  padding-right: 4rem; /*Define que o tamanho da margem para direita do item até a borda do container é 64px (4rem)*/
}

.listHeader {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  list-style: none; /*Define que a lista não terá marcações, nem bolinhas nem quadrados*/
  gap: 11.22px; /*Define que a distância entre os items do container é 11.22px*/
}

.textLink {
  display: inline-block; /*Define que os textos são inline-block, ou seja, os elementos estão um do lado do outro porém se aceita definições de largura ou altura, necessário para o efeito de hover*/
  text-decoration: none; /*Define que os links não terão a linha embaixo deles*/
  color: #fff;
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 600; /*Define que a fonte será semi-bold*/
  transition: 0.3s ease-out; /*Define que a transição entre os efeitos (no caso :hover) será de 0.3s desacelerando no final do movimento para maior sensação de suavidade*/
}

.material-symbols-outlined.profile {
  font-size: 19px;
  color: var(--text1-color);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.textLink:hover,
.perfilHeader:hover,
.material-symbols-outlined.profile:hover {
  color: #859678;
  text-shadow: 0px 5px 6px #859678; /*Define que o texto terá nenhuma sombra no eixo x e terá 5px no eixo y com um blur (tipo esfumaceamento) de 6px e a cor a mesma do texto*/
  transform: translateY(
    -4px
  ); /*Define que o texto se moverá para cima (números negativos empurram para cima, positivos para baixo) em -4px*/
}

.buttonSwitch {
  width: 30px;
  height: 15px;
  margin-top: 1.5rem;
  margin-right: 1%; /*Define que a margem da direita tem o tamanho de 1% do elemento pai */
  border: #ffffff solid 2px; /*Define tamanho da borda, cor e tipo*/
  border-radius: 30px;
  position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor*/
  cursor: pointer; /*Faz com que aparece o ponteiro de clicar quando o mouse está em cima do elemento*/
}

.buttonSwitch .buttonIndicator {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 150px;
  transform: scale(
    0.8
  ); /*Faz com que o elemento se transforme baseado em uma escala (ele se ajustava a 0.8 do elemento original)*/
  position: absolute; /*O elemento está em posição absoluta, ou seja, se sobressaí sobre outros elementos, saindo do fluxo original*/
  left: 0;
  transition: 0.4s;
}

.buttonSwitch.dark .buttonIndicator {
  /*Parte do comando js para quando se é clicado, a ação de mudar a bolinha do switcher e a cor dela*/
  left: 15px;
  background-color: #859678;
}

.buttonSwitch.dark {
  /*Parte do comando js para quando se é clicado, alterar a cor da borda do elemento*/
  border-color: #859678;
}

/*ESTILIZAÇÃO DO BANNER PRINCIPAL*/


/*Edição do texto central*/
.imagem-inicial {
    position: relative; /*Faz com que o elemento continue em sua posição original sem afetar os elementos ao redor, necessário para a posição absoluta do h1*/
    width: 100%;
    height: auto;
}

.imagem-inicial img {
    width: 100%;
    height: auto;
    object-fit: cover; /*Garante que a imagem preencha o espaço disponível sem distorcer, cortando as partes que ultrapassarem o container*/
}
.imagem-inicial h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 80px;
    color: var(--cor-letra);
    position: absolute; /*Faz com que o elemento se sobressaia sobre outros elementos, saindo do fluxo original*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Faz com que o elemento se mova para o centro exato da tela, baseado em sua própria largura e altura*/
    text-align: center; /*Centraliza o texto dentro do elemento h1*/
    width: 100%; /*Garante que o h1 ocupe toda a largura disponível, necessário para o text-align funcionar corretamente*/
}


/*COLOCANDO O SANDUICHE E A BARRA DE PESQUISA*/
/*Estilização do sanduiche*/



/*Estilização da barra de pesquisa*/
.caixa-pesquisa{
  position: absolute; /*permite colocar o elemento a onde vc quiser*/
/*AQUI TEM QUE COLOCAR OS TOP E O LEFT PRA FICAR */
  transform: translate(-50%, -50%);/*corrige erros para deixar no centro*/


}


