
:root {
    --cor-primaria: #FBFBD7 ;
    --cor-secundaria: #FADADD;
    --cor-terciaria: #B0E0E6;
}

/*Adionando a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Essa primeria parte do css serve para adicionar elementos do seu site, basicamente */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*Aqui eu deifini o tamanho da classe container, ou seja, o tmaanho do menu etc*/
.container {
  max-width: 1440px;  /*largura*/
  height: 110px;  /*altura*/
  left: 0.24px;  /*Direção*/
  top: -0.47px; /*Superior*/

  display: flex;
  align-items: center;
  justify-content: space-between; /*Coloquei a logo na lateral*/
  margin: right;

}

/*Aqui tem a cor do menu, que inclusive mais para frente vou colocar em degrade*/
header {
  /*O degradê*/
  background: linear-gradient(to bottom, #cf7eae 0%, #e69cc6 14%, #dba7bf 34%, #e8a3b8b5 70%);
  opacity: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  
}

/* Definição dos tamanhos dos itens*/
.logo img {
  width: 125px;
  height: 125px;
  left: 0.50px;

}

.menu {
  width: 50%; /*Aqui eu coloquei uma "caixa de texto" ,aior pro topicos, para que não fique um de baixo do outro*/
  letter-spacing: 0.29px; /*Espaçamento entre os tópicos do menu*/
  font-size: 13.7px;
  font-weight: 400;
  text-transform: uppercase;/*Deixa tudo do menu em maiusculo*/


}

.menu nav a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 25px;
  font-size: 15px;
  transition: 0.3s; /*Coloquei aqui a transição pr adeixar ela de certa forma mais suave */
}

.menu nav a:hover {
  color: #525946;
}

.menu nav a img {
  width: 14.67px;
  height: 12px;/*AQUI TEM QUE ARRUMAR O BONEQUINHO DPS */
}

section{
  background-color: #FADADD;
}

.imagem-inicial {
  width: 100%;
  overflow: hidden;

}

.imagem-inicial img {
  width: 100%; /* Faz a imagem preecher toda a tela*/
  height: auto; /* Ajuda a fazer com que a iamgem não fique achatada*/
  display: block; /*Garante que toda a iamgem ocape tudo que falta, basicamente.*/
  
}

/*ESTILIZÇÃO DO CARROCEL*/
/* FIM DA ESTILIZAÇÃO DO CARROCEL*/

/* ESTILIZAÇÃO DOS PRODUTOS */


.produtos h2 { /*Mudando o estilo do titulo*/
  color: #4D2B1A;
  text-align: center; /*Garante que o titulo fique no meio */
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 50px; /* Espaço entre em cima do titulo*/
  padding-bottom: 50px;/* Espaço em baixo do titulo */
  
/* Fontes presentes no figma */
  font-family: "inter", sans-serif;/* Colanco a fonte certa*/
  font-weight: 900; /* Deixando em negrito, como no figma*/
   
}


.card {
  text-decoration: none;
  color: #ffffff ;
}







